article.home {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}
section.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}
section.form-action {
  width: 100%;
  height: 100%;
  flex-grow: 1;
}
div.form-action-container {
  width: 100%;
  height: 100%;
  max-width: 500px;
  padding: 1rem;
  margin: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
div.logo {
  width: 75px;
  height: 75px;
  border-radius: var(--border-radius);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: var(--border-radius);
}
div.form-toggler {
  width: 100%;
  padding: 1rem 1rem 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.form-toggler p {
  font-size: 0.9rem;
  color: var(--primary-black-light);
}
div.form-toggler button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  color: var(--primary-blue);
  margin-left: 0.4rem;
  font-size: 0.9rem;
}
@media only screen and (max-width: 1000px) {
  article.home {
    display: block;
  }
}
