div.assignee {
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  border-bottom: 1px solid var(--primary-border);
}
div.assignee:last-of-type {
  border-bottom: 0;
}
div.assignee div.avatar {
  width: 50px;
  height: 50px;
  border-radius: var(--border-radius);
  overflow: hidden;
  padding: 0.5rem;
  border: 1px solid var(--primary-border);
}
div.assignee-info p {
  font-size: 0.9rem;
  color: var(--primary-black);
  font-weight: 500;
}
div.assignee-info span {
  color: var(--primary-black-light);
  font-size: 0.9rem;
  margin-top: 0.2rem;
  display: block;
}
div.assignee button {
  margin-left: auto;
}
