form.login-form {
  width: 100%;
}
p.form-error {
  margin: 1rem 0;
  font-size: 1rem;
  color: var(--primary-error-red);
  animation: wiggle 300ms ease-in;
  position: relative;
}
@keyframes wiggle {
  0% {
    left: -50px;
  }
  50% {
    left: 0px;
  }
  75% {
    left: -25px;
  }
  100% {
    left: 0px;
  }
}
